{% extends "base.html" %}

{% block centrale %}
    {% if user.is_authenticated %}

        <h1>Benvenuto {{ user.username }}</h1>

        <h3>You are connected.</h3>

    {% else %}

        <h1>Connexion</h1>

        <form method="post" action="{{ entra }}">
        {% csrf_token %}

        <div class="form-group">

            <label for="exampleInputEmail1">Login</label>


            <table>
            {{ form.as_table }}
            </table>

        <input type="submit" class="btn btn-primary" value="Connection" />
        </div>
        </form>

    {% endif %}

{% endblock %}