{% extends "base.html" %}

{% block centrale %}
    {% if user.is_authenticated %}

        <script>
            window.location.href = 'listaTaskPGN';
        </script>

    {% else %}

        <h1>Login</h1>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form method="post" class="form-signin" action="{{ entra }}">
            {% csrf_token %}
            <span id="reauth-email" class="reauth-email"></span>
            {% for field in form.visible_fields %}

                <label> {{ field.label_tag }} </label>
                {{ field }}

            {% endfor %}


            <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Sign In" />

        </form>
        </div>
    {% endif %}

{% endblock %}