{% extends "base.html" %}

{% block title_html %}
    Create Task
{% endblock %}

{% block h1 %}
    Create Task
{% endblock %}

{% block javascript%}

    <script>

    $('.chosen-select').chosen();

    </script>

{% endblock %}

{% block centrale %}



 <div class="card taskInput">
                <form method="post" enctype="multipart/form-data" action="{% url "update_task_CUST" pk %}" >
                    {% csrf_token %}
                    <!-- This line inserts a CSRF token. -->
                    <div class="form-group">
                    {% for field in form.visible_fields %}

                        <div class="marginDecor">

                        <span> {{ field.label_tag }} </span>

                        {% if field.name == 'dia' %}
                            <div class="input-group ">
                                {{ field }}
                            </div>

                        {% else %}
                            <div>
                                {{ field }}
                            </div>

                        {% endif %}
                        </div>
                    {% endfor %}

                    </div>

                    <span>
                        <input type="submit" class="btn btn-primary  marginDecorBT float-right" value="Conferma" />
                    </span>

                    <span><a href="{% url "listaTaskPGN" %}" >
                        <input type="button" class="btn btn-danger  float-right" value="Annulla" />
                    </a></span>


                {% if pk != '0' %}

                </form>

                <form method="post" class="float-left" action="{% url "delete_task" pk %}"
                onsubmit="return confirm('Confermi la cancellazione?');">

                    {% csrf_token %}

                    <input type="submit" class="btn btn-warning" style="margin-top: -64px" value="Elimina" />

                </form>

                {% endif %}
 </div>

{% endblock %}