{% extends "base.html" %}

{% block title_html %}
    Create Task
{% endblock %}

{% block h1 %}
    Create Task
{% endblock %}

{% block javascript%}

    <script>
    $("#validate-text").change(function () {
      console.log( $(this).val() );
      var username = $(this).val();

        $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (results) {
            alert(results);
        }
      });

        $('.selectpicker').selectpicker({
          style: 'btn-info',
          size: 4
           });

    });

    $('.chosen-select').chosen();


    </script>

{% endblock %}

{% block centrale %}



 <div class="card taskInput">
                <form method="post" enctype="multipart/form-data" action="{% url "update_task_CUST" pk %}" >
                    {% csrf_token %}
                    <!-- This line inserts a CSRF token. -->
                    <div class="form-group">
                    {% for field in form.visible_fields %}

                        <label> {{ field.label_tag }} </label>

                        {% if field.name == 'dia' %}
                            <div class="input-group">
                                {{ field }}
                            </div>

                        {% else %}
                        <div>
                                {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                    <span><input type="submit" class="btn btn-primary float-right" value="Conferma" /></span>

                    <span><input type="button" class="btn btn-danger float-right" value="Annulla" /></span>
                </form>
 </div>

{% endblock %}