{% extends "base.html" %}

{% block title_html %}
    Create Task
{% endblock %}

{% block h1 %}
    Create Task
{% endblock %}

{% block javascript%}

    <script>

    $('.chosen-select').chosen();

    </script>

{% endblock %}

{% block centrale %}



 <div class="card taskInput">
                <form method="post" enctype="multipart/form-data" action="{% url "update_task_CUST" pk %}" >
                    {% csrf_token %}
                    <!-- This line inserts a CSRF token. -->
                    <div class="form-group">
                    {% for field in form.visible_fields %}

                        <div class="marginDecor">

                        <span> {{ field.label_tag }} </span>

                        {% if field.name == 'dia' %}
                            <div class="input-group ">
                                {{ field }}
                            </div>

                        {% else %}
                            <div>
                                {{ field }}
                            </div>

                        {% endif %}
                        </div>
                    {% endfor %}

                    </div>

                    <span><input type="submit" class="btn btn-primary float-right" value="Conferma" /></span>

                    <span><input type="button" class="btn btn-danger float-right" value="Annulla" /></span>

                    <span>

                    </span>

                </form>

                <form method="post" class="float-left" action="{% url "delete_task" pk %}">

                            <input type="submit" class="btn btn-signin" value="Elimina Attività" />

                </form>
 </div>

{% endblock %}