{% extends "base.html" %}

{% load staticfiles %}

{% block title_html %}
    Tasks list
{% endblock %}


{% block centrale %}

<div class="titolo">Lista Attività</div>

<div class="pagination">
    <span class="step-links">
        {% if giorni.has_previous %}
            <a href="?page={{ giorni.previous_page_number }}">
                <img src=" {% static "image/indietroRot.png" %}" alt="My image" width="25" height="25">
            </a>
        {% endif %}
        <!--
        <span class="current">
            Page {{ giorni.number }} of {{ giorni.paginator.num_pages }}.
        </span>
        -->
        {% if giorni.has_next %}
            <a href="?page={{ giorni.next_page_number }}">
            <img src=" {% static "image/avantiRot.png" %}" alt="My image" width="25" height="25">
            </a>
        {% endif %}


    </span>
</div>

    <table class="table">

        <tr>

            <th class="scope">Giorno</th>

            <th class="scope">Dettagli attività</th>

            <th class="scope">Personale assente</th>

        </tr>

            {% for day in giorni %}

            <tr>
                <th class="scope">
                    {% if day.giorno.weekday == 5 or day.giorno.weekday == 6 %}
                    <p style="color:red">{{ day }}</p>
                    {% else %}
                    {{ day }}
                    {% endif %}
                </th>

                <td>

                <table class="table table-striped table-condensed">

                <thead class="thead-dark">

                    <th>Attività</th>

                    <th>Tecnici</th>

                    <th>Ora arrivo</th>

                    <th>Cliente</th>

                    <th>Riferimento</th>

                    <th>Note</th>

                    <th>Documenti</th>

                </thead>

                {% for task in day.attivita.all%}

                <tr>

                    <td class="scope"> <a href="{% url "update_task_CUST" task.id %}"> {{ task.descrizione }} </a> </td>

                    <td class="scope">
                            {%  for tecnicos in task.tecnici.all %}
                                <div> {{ tecnicos }} </div>
                            {% endfor %}
                    </td>

                    <td class="scope"> {{ task.oraArrivo }} </td>

                    <td class="scope"> {{ task.cliente }} </td>

                    <td class="scope"> {{ task.riferimentoCommessa }} </td>

                    <td class="scope"> {{ task.note }} </td>

                    <td class="scope">
                        {%  if task.offerta and not task.offerta.name == 'False'%}
                            <span> <a href="{% url "download" task.id %} "> <img src=" {% static "image/handshake24.png" %}"
                                                                                 alt="My image" width="24" height="24"> </a></span>
                        {% endif %}

                        {%  if task.pianoCampionamento and not task.pianoCampionamento.name == 'False'%}
                            <span> <a href="{% url "pianoDL" task.id %} "> <img src=" {% static "image/Map-Marker-Drawing-Pin-Right-Pink-icon.png" %}"
                                                                                 alt="My image" width="24" height="24"> </a></span>
                        {% endif %}

                        {%  if task.ordineServizio and not task.ordineServizio.name == 'False'%}
                            <span> <a href="{% url "ordineDL" task.id %} "> <img src=" {% static "image/MarkerGreen.png" %}"
                                                                                 alt="My image" width="24" height="24"> </a></span>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}


                </table>

                </td>

                 <td class="scope">


                        {%  for assenti in day.personaleAssente.all %}
                            <div> {{ assenti }} </div>
                        {% endfor %}

                </td>

            </tr>

            {% endfor %}

    </table>



{% endblock %}
