{% extends "base.html" %}

{% block title_html %}
    Personale assente
{% endblock %}

{% block h1 %}
    Personale assente
{% endblock %}

{% block javascript%}

    <script>

    $('.chosen-select').chosen();

    </script>

{% endblock %}

{% block centrale %}



 <div class="card taskInput">
                <form method="post"  action="{% url "update_giorno" pk %}" >
                    {% csrf_token %}
                    <!-- This line inserts a CSRF token. -->
                    <div class="form-group">

                    <h2 class = 'scope'>{{ dia }}</h2>

                    {% for field in form.visible_fields %}

                        <div class="marginDecor">

                        <span> {{ field.label_tag }} </span>

                            <div>
                                {{ field }}
                            </div>

                        </div>
                    {% endfor %}

                    </div>

                    <span><input type="submit" class="btn btn-primary float-right" value="Conferma" /></span>

                    <span><input type="button" class="btn btn-danger float-right" value="Annulla" /></span>
                </form>
 </div>

{% endblock %}